{% extends 'base.html.twig' %}

{% block title %}
  Hero
{% endblock %}

{% block body %}
    <main>
    <h1>{{ character.name }}</h1>
    <p>{{ character.role.name }}</p>
    <p>{{ character.occupation }}</p>
    <p>{{ character.affiliation }}</p>
    <p>{{ character.age }}</p>
    <p>{{ character.nationality }}</p>
    <p>{{ character.description }}</p>
    {% if ultimate %}
    <h2>Ultimate</h2>
    <p>{{ ultimate.name }}</p>
    <p>{{ ultimate.description }}</p>
    <p>{{ ultimate.ultLine }}</p>
    <p>{{ ultimate.imagePath }}</p>
    {% else %}
        <p>Ce personnage n'a pas d'ultimate.</p>
    {% endif %}
    {% if strategy %}
    <h2>Strategy</h2>
    <p>{{ strategy.title }}</p>
    <p>{{ strategy.content }}</p>
    {% else %}
        <p>Ce personnage n'a pas de strategie.</p>
    {% endif %}
  <p>
    <a href="{{ path('app_heroes') }}">Retour à la liste</a>
  </p>
    </main>
{% endblock %}