{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
<main>
    <div class="flex items-center justify-center my-20">
      <div class="bg-ow-blue border-[4px] w-1/4 border-ow-blue rounded-2xl hover:border-ow-blue transition-all duration-200">
        <div class="mx-auto flex items-center space-y-4 py-10 px-12 font-semibold text-gray-500 flex-col"> 
          <h1 class="text-white text-2xl">Register!</h1>
            <div class="flex items-center justify-center">
            {{ form_start(registerForm) }}
              {{ form_row(registerForm.email) }}
              {{ form_row(registerForm.plainPassword.first) }}
              {{ form_row(registerForm.plainPassword.second) }}

              <button type="submit" class="w-full my-2 p-2 bg-gray-50 rounded-full font-bold text-gray-900 border-[4px] transition-all duration-200">Create an account</button>
            {{ form_end(registerForm) }}
        </div>
      </div>
    </div>
</main>
{% endblock %}