{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<main>
    <div class="container mx-auto px-4 pt-12 w-10/12 flex flex-col justify-center items-center">
      <h2 class="text-4xl text-center">Overhub : Your Overwatch Heroes Companion</h2>
      <div class="flex flex-col items-center">
        <div class="w-full flex justify-center items-center mt-8">
          <img src="{{ asset('images/ow-heroesimg.webp') }}" class="w-8/12 h-68 mt-4" alt="Overwatch Heros" />
        </div>
        <hgroup class="w-10/12 mx-auto my-12 justify-around items-center">
          <p class="text-lg">OverHub is the destination for Overwatch enthusiasts looking to master the game's diverse roster of heroes. Whether you're a battle-hardened veteran or just stepping into the world of Overwatch for the first time, our comprehensive hero guides, role breakdowns, and strategic insights will help elevate your gameplay to new heights. </p>
          <p class="text-lg">Dive deep into detailed hero profiles, discover powerful ultimate usages combinations. From the lightning-fast reflexes of <strong>Tracer</strong> to the tactical shield deployments of <strong>Reinhardt</strong>, OverHub covers every aspect of Overwatch's unique and dynamic cast of characters.</p>
        </hgroup>
      </div>
      <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
        <hgroup class="w-2/3 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
          <h3 class="text-2xl font-bold">Meet the Heroes of Overwatch</h3><p class="text-lg">Step into the world of Overwatch and discover the diverse cast of heroes who bring the game to life. From daring adventurers and skilled warriors to brilliant scientists and powerful guardians, each hero comes with their own unique story, abilities, and role in the fight for a better future. Want to learn more about your favorites or find the perfect hero for your playstyle? Visit the <a href="{{path('app_heroes')}}" class="text-ow-pink">Heroes Page</a> to explore them all in detail.</p>
        </hgroup>
        <div class="w-1/3">
          <img src="{{ asset('images/ow-lifebob.jpg') }}" class="w-48 h-34 object-cover mx-auto mt-4" alt="Life and bob's picture" />
        </div>
      </div>
      <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
        <hgroup class="w-2/3 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
          <h2 class="text-2xl font-bold">Stay Connected with Us</h2><p class="text-lg">Have a question, need support, or just want to chat about your favorite heroes? We're always here to help and hear from you. Plus, don't miss a single update—subscribe to our newsletter for the latest Overwatch news, hero updates, and exclusive tips delivered straight to your inbox. Whether you're a seasoned player or just getting started, we've got something for you!</p>
        </hgroup>
        <div class="w-1/3">
          <img src="{{ asset('images/ow-ramattra.jpg') }}" class="w-48 h-34 object-cover mx-auto mt-4" alt="Ramattra" />
        </div> 
      </div>
      <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
        <hgroup class="w-2/3 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
          <h2 class="text-2xl font-bold">Our Selection</h2><p class="text-lg">Explore our diverse catalog covering all photographic genres: photojournalism, fashion, nature, architecture, portraiture, conceptual photography, and much more. Whether you're a seasoned professional, a passionate amateur, or simply a lover of beautiful images, you'll find magazines that match your interests in our collection.</p>
        </hgroup>
        <div class="w-1/3">
          <img src="{{ asset('images/ow-trioimg.jpg') }}" class="w-48 h-34 object-cover mx-auto mt-4" alt="Heroes Image" />
        </div> 
      </div>
      <div class="flex justify-center my-8">
        <div class="py-6 relative overflow-hidden flex flex-col justify-around w-96 border border-ow-blue rounded-lg bg-ow-blue p-3 px-6">
        {{ form_start(newsletterForm) }}
          <span class="font-extrabold text-2xl text-ow-white my-2">Get more updates...</span>
          <p class="text-ow-white my-2">
            Sign up for our newsletter and you'll be the first to find out about new features.
          </p>
          <div class="flex items-center gap-1">
            <div class="rounded-lg w-64 overflow-hidden">
              {{ form_widget(newsletterForm.email)}}
            </div>
            {{ form_widget(newsletterForm.Subscribe) }}
          </div>
        {{ form_end(newsletterForm) }}
      </div>
    </div>
</main>


{% endblock %}
