{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<main class="bg-white">
  <div class="text-black py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-5xl text-center">Overhub : Your Ultimate Overwatch Heroes Companion</h2>
      <hgroup class="w-9/12 mx-auto my-8 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
        <p class="text-lg">OverHub is the destination for Overwatch enthusiasts looking to master the game's diverse roster of heroes. Whether you're a battle-hardened veteran or just stepping into the world of Overwatch for the first time, our comprehensive hero guides, role breakdowns, and strategic insights will help elevate your gameplay to new heights. </p>
        <p class="text-lg">Dive deep into detailed hero profiles, discover powerful ultimate usages combinations. From the lightning-fast reflexes of <strong>Tracer</strong> to the tactical shield deployments of <strong>Reinhardt</strong>, OverHub covers every aspect of Overwatch's unique and dynamic cast of characters.</p>
      </hgroup>
    </span>
    <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
      <div>
        <img src="{{ asset('images/ow-lifebob.jpg') }}" class="w-48 h-34 object-cover mx-auto mt-4" alt="Club picture" />
      </div>
      <hgroup class="w-6/12 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
        <strong class="text-xl">Pesent the heros</strong><p class="text-lg">At Lens of Truth, we believe in the power of images to tell stories, raise awareness, and inspire creativity. Our mission is to provide you with easy access to exceptional photographic magazines, whether they're iconic publications or rare gems from the independent scene.</p>
      </hgroup>
    </div>
    <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
      <hgroup class="w-6/12 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
        <strong class="text-xl">Our Selection</strong><p class="text-lg">Explore our diverse catalog covering all photographic genres: photojournalism, fashion, nature, architecture, portraiture, conceptual photography, and much more. Whether you're a seasoned professional, a passionate amateur, or simply a lover of beautiful images, you'll find magazines that match your interests in our collection.</p>
      </hgroup>
      {# <div>
        <img src="{{ asset('images/tree.jpg') }}" class="w-80 h-80 object-cover mx-auto mt-4 rounded-full shadow-lg" alt="Flower in black and white" />
      </div> #}
    </div>
    <div class="flex flex-row w-10/12 mx-auto my-10 justify-around items-center max-sm:w-full max-sm:flex-col-reverse">
      {# <div>
        <img src="{{ asset('images/promenade.jpg') }}" class="w-80 h-80 object-cover mx-auto mt-4 rounded-full shadow-lg" alt="Single Tree black and white" />
      </div> #}
      <hgroup class="w-6/12 max-sm:w-full max-sm:mt-8 max-sm:mx-2">
        <strong class="text-xl">Quality Commitment</strong><p class="text-lg">Each magazine offered on our platform is carefully evaluated for its editorial quality, printing, and visual content. We work directly with publishers and distributors to guarantee authentic publications, delivered in the best conditions.</p>
      </hgroup>
      <button class="mt-6 bg-ow-pink hover:bg-opacity-90 text-white px-6 py-2 rounded-md">
      </button>
    </div>
    </div>
    </div>
        <div class="flex justify-center">
        <div class="py-6 relative overflow-hidden flex flex-col justify-around w-96 border border-ow-blue rounded-lg bg-ow-blue p-3 px-6">
        {{ form_start(newsletterForm) }}
          <span class="font-extrabold text-2xl text-ow-white my-2">Get more updates...</span>
          <p class="text-ow-white my-2">
            Sign up for our newsletter and you'll be the first to find out about new features.
          </p>
          <div class="flex items-center gap-1">
            <div class="rounded-lg w-64 overflow-hidden">
              {{ form_widget(newsletterForm.email)}}
            </div>
            {{ form_widget(newsletterForm.Subscribe) }}
          </div>
      {{ form_end(newsletterForm) }}
      </div>
    </div>
</main>


{% endblock %}
